<div class="container">
    <div class="clearfix">
        <div class="nav-buttons" id="trigger-overlay">
            <div class="border-menu"></div>
        </div>

        <div class="header-cover">

            <div class="namespace">
                
                <div class="mainnamespace">
                    BEN COCHRANE
                </div>

                <div class="subnamespace">
                    Ruby on Rails and Backbone JS Developer
                </div>

            </div>
        </div>
    </div>

    



<!--     <div class="overlay overlay-contentscale">
        <button type="button" class="overlay-close">Close</button>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div> -->
    
</div>

