<div class="container heading">
    <div class="clearfix header-section">

        <div class="head-nav">

          <div class="logo-nav md-show">
            <div class="home-logo absolutely-centered">BC</div>
          </div> 

          <div class="nav-buttons" id="trigger-overlay">

              <svg class="svg-icon" viewBox="0 0 20 20">
                  <path fill="none" d="M3.314,4.8h13.372c0.41,0,0.743-0.333,0.743-0.743c0-0.41-0.333-0.743-0.743-0.743H3.314
                      c-0.41,0-0.743,0.333-0.743,0.743C2.571,4.467,2.904,4.8,3.314,4.8z M16.686,15.2H3.314c-0.41,0-0.743,0.333-0.743,0.743
                      s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,15.2,16.686,15.2z M16.686,9.257H3.314
                      c-0.41,0-0.743,0.333-0.743,0.743s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,9.257,16.686,9.257z"></path>
              </svg>

          </div>

        </div>

      

        <div class="header-cover">

            <div class="namespace">
                
                <div class="mainnamespace">
                    Ben Cochrane
                </div>

                <div class="subnamespace">
                    Ruby on Rails and Javascript Developer
                </div>

            </div>
        </div>
    </div>


    <div class="clearfix">
        
        <div class="col sm-col-12">
            
        </div>
    
    </div>



    <div id="container">

      <div class="col col-12 lg-col-6 cube home-about">
        <div class="home-about">
          <h4>Web development portfolio of Ben Cochrane.</h4>
          <p>Ben has corporate and startup experience having previously been a stockbroker for 4 years at Goldman Sachs JBWere managing a team of 12 brokers as well as starting his own technology hardware startup.<br><br>He has an engineering background and loves to create beautiful, dynamic web applications.</p>
        </div>
      </div>


    
      <div class="col col-12 lg-col-6 cube home-sensei" style="cursor: pointer;" onclick="window.location='http://getsensei.net'" target="_blank">

        <div class="project-description absolutely-centered">
          <div><h1>Sensei</h1></div>
          <div><h3>#platform-as-a-service<br>#stripe-payments<br>#ruby-on-rails</h3></div>
        </div>

        <div class="project-description-hover absolutely-centered">
          <p>Sensei is Shopify for online schools. <br><br>Teachers can create their own courses and take subscription payments from students from their unique school URL.</p>
        </div>
        
      </div>


      <div class="col col-12 lg-col-6 cube home-techteacher" style="cursor: pointer;" onclick="window.location='https://fast-wave-6884.herokuapp.com/'" target="_blank">
        
        <div class="project-description absolutely-centered">
          <div><h1>Tech Teacher</h1></div>
          <div><h3>#ruby-on-rails<br>#youtube</h3></div>
        </div>

        <div class="project-description-hover absolutely-centered">
          <p>Tech Teacher creates learning tracks for various coding languages for students.</p>
        </div>


      </div>


      <div class="col col-12 lg-col-6 cube home-gradscore" style="cursor: pointer;" onclick="window.location='http://gradscore.herokuapp.com/'" target="_blank">
        
        <div class="project-description absolutely-centered">
          <div><h1>GradScore</h1></div>
          <div><h3>#ruby-on-rails<br>#ratings</h3></div>
        </div>

        <div class="project-description-hover absolutely-centered">
          <p>GradScore allows graduate recruiters to rate and record graduate performance in job assessment centres.</p>
        </div>

      </div>


      <div class="col col-12 lg-col-6 cube home-officeup" style="cursor: pointer;" onclick="window.location='http://officeup.bitballoon.com/'" target="_blank">
        
        <div class="project-description absolutely-centered">
          <div><h1>OfficeUp</h1></div>
          <div><h3>#google-maps-api<br>#angular-js</h3></div>
        </div>

        <div class="project-description-hover absolutely-centered">
          <p>OfficeUp is Airbnb for office space.</p>
        </div>

      </div>


      <div class="col col-12 lg-col-6 cube home-about blog">
        <div class="home-about">
          <h4>Recent Blog Articles</h4>
          <ul>
            <li><a href="#">Screencast: How to set up the Stripe API in Rails for subscription payments (Jan 2015)</a></li>
            <li><a href="#">Screencast: Learn how to keep you Heroku app always up for free (Jan 2015)</a></li>
          </ul>
        </div>
      </div>



    </div>

    <div id="container" class="home-footer-divider">
      
    </div>

    <div id="container" class="home-footer">
      
    </div>

</div>


<div class="overlay overlay-hugeinc">
    
      <button type="button" class="overlay-close">Close</button>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

  <div class="container clearfix social-nav fixed">

    
      <a href="http://twitter.com/bencochrane"><span class="socicon">a</span></a>    
    
  

  </div>


</div>


